.SearchBar {
  $search-bar-height: 3.5rem;

  position: relative;
  height: $search-bar-height;

  input[type="search"] {
    font-weight: 300;
    font-size: 1.8rem;
    box-sizing: border-box;
    padding-right: $search-bar-height;
    line-height: $search-bar-height;
    height: $search-bar-height;

  }

  button {
    @extend .z-depth-0;
    line-height: $search-bar-height;
    height: $search-bar-height;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;

    &:disabled {
      background-color: transparent !important;
    }
  }
}
